h1{
  text-align: center;  
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color:cadetblue;
}
.boxTarefas{
  cursor: pointer;
  width: 80%;
  max-width: 800px;
  background-color: white;
  padding:280px 50px;
  margin: 10px auto;
  border-radius: 10px;
}
.addTarefas{
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: white;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 25px;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modalContent{
  max-width: 600px;
  padding: 40px 20px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;

}

h3{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  margin-top:-230px;
}
h4{
  text-align: center;  
  margin-top: 1px;
  font-family: 'Times New Roman', Times, serif;


}
.buttonAtivaScheduling{
  position:absolute;
  margin-top:420px;
}
.boxButton{
  display: flex;
  justify-content: center;
  margin-top:5px;
}
.button{
  display: flex;
  justify-content: center;
  margin-top:25px;
}
.buttonAdicionar{
  margin-right: 10px;
}